In [1]:
from services.data_service import load_site_data, load_coef_prior_samples
from solvers.stan import _theta_reg_data, _prior_hyperparams, _gamma_reg_data
import numpy as np

Importing MCMC Module: mcmc_sampling_original.py

In [2]:
# Load sites' data
(
    zbar_2017,
    gamma_vals,
    z_2017,
    forestArea_2017_ha,
    theta_vals,
    gamma_coe,
    theta_coe,
    gamma_vcov_array,
    theta_vcov_array,
    theta_data,
    gamma_data,
) = load_site_data(
    10,
    norm_fac=1e11,
)

Data successfully loaded from '/Users/patriciohernandez/Projects/project-amazon/data/hmc/hmc_10SitesModel.csv'

In [3]:
theta_data

,id,X1,historical_precip,historical_temp,I.historical_temp.2.,lat,I.lat.2.,cattleSlaughter_farmGatePrice_2017,distance,zbar_2017_muni,log_cattleSlaughter_valuePerHa_2017
0,1,1.0,2.095212,0.088626,0.073522,0.503463,0.487875,0.040508,2.321377,4.556219e+05,NaN
1,5,1.0,2.095212,0.088626,0.073522,0.503463,0.487875,0.040508,2.321377,4.556219e+05,NaN
2,1,1.0,2.591289,0.712883,0.710237,0.716406,0.709940,-0.335162,1.400975,1.181881e+06,5.621129
3,2,1.0,2.591289,0.712883,0.710237,0.716406,0.709940,-0.335162,1.400975,1.181881e+06,5.621129
4,1,1.0,3.194936,0.001980,-0.013873,0.891029,0.893893,0.044990,1.667578,5.606640e+06,NaN
...,...,...,...,...,...,...,...,...,...,...,...
684,10,1.0,-1.054217,-2.585480,-2.513731,-1.864649,-1.814553,0.759371,0.153849,2.018173e+05,4.528641
685,10,1.0,-0.864571,-2.011909,-1.977942,-1.862048,-1.812194,2.504136,-0.710554,1.144672e+05,4.839621
686,10,1.0,-0.777167,-2.638213,-2.562466,-1.711920,-1.675312,1.662586,-0.282200,1.287097e+06,3.844629
687,10,1.0,-1.197694,-1.191957,-1.193837,-1.637727,-1.607211,0.674618,0.575946,5.881073e+05,4.531010
688,10,1.0,-1.205307,-0.086401,-0.102773,-1.539261,-1.516365,-1.941180,0.879240,5.656621e+05,3.247560

In [4]:
y, X, N, K, G = _theta_reg_data(10, theta_data)

In [5]:
N

595

In [9]:
theta_vals.mean()

1.4494814682000001

In [16]:
np.exp(y.mean()) / 45

1.4611138073026302

In [7]:
I, mu, a, b = _prior_hyperparams(y, X, "theta").values()

In [18]:
sigma_sq = b/(a+1)
sigma_sq

0.4747978962724169