In [1]:
from services.data_service import load_site_data, load_coef_prior_samples
from solvers.stan import _theta_reg_data, _prior_hyperparams, _gamma_reg_data
import numpy as np

Importing MCMC Module: mcmc_sampling_original.py

In [2]:
# Load sites' data
(
    zbar_2017,
    gamma_vals,
    z_2017,
    forestArea_2017_ha,
    theta_vals,
    gamma_coe,
    theta_coe,
    gamma_vcov_array,
    theta_vcov_array,
    theta_data,
    gamma_data,
) = load_site_data(
    10,
    norm_fac=1e11,
)

Data successfully loaded from '/Users/patriciohernandez/Projects/project-amazon/data/hmc/hmc_10SitesModel.csv'

In [3]:
gamma_data

,id,X1,log_historical_precip,log_historical_temp,log_lat,log_lon,log_co2e_ha_2017
0,1,1.0,1.903604,0.115122,0.537821,-2.088157,6.402935
1,5,1.0,1.903604,0.115122,0.537821,-2.088157,6.402935
2,1,1.0,2.255230,0.721277,0.738985,-1.748519,6.280606
3,2,1.0,2.255230,0.721277,0.738985,-1.748519,6.280606
4,1,1.0,2.654689,0.030049,0.902289,-2.098580,6.351144
...,...,...,...,...,...,...,...
706,10,1.0,-0.750612,-2.680345,-1.700176,0.040666,5.858993
707,10,1.0,-0.940483,-0.019466,-1.362865,0.323129,5.757545
708,10,1.0,-1.275154,-1.166513,-1.620548,0.245313,5.722272
709,10,1.0,-1.285130,-0.056968,-1.515409,0.342336,5.731415
710,10,1.0,-1.000612,0.631055,-1.318796,0.367171,5.160738

In [4]:
y, X, N, K, G = _gamma_reg_data(10, gamma_data)

In [5]:
N

689

In [6]:
gamma_vals.mean()

474.0467252100001

In [9]:
np.exp(y).mean()

429.7343465200875

## Analysing hyperparams

In [10]:
I, mu, a, b = _prior_hyperparams(y, X, "gamma").values()

In [11]:
sigma_sq = b/(a+1)
sigma_sq

0.10438755987760001

In [13]:
print(sigma_sq * I)

[[ 1.52912157e-04 -1.57702576e-05 -8.75809051e-07  1.10498236e-05
   1.77985991e-06]
 [-1.57702576e-05  2.66027056e-04 -2.02644489e-05 -1.63197154e-04
   1.18093033e-04]
 [-8.75809051e-07 -2.02644489e-05  3.34987443e-04 -2.20689683e-04
  -4.40312327e-05]
 [ 1.10498236e-05 -1.63197154e-04 -2.20689683e-04  4.40558440e-04
  -1.10587315e-04]
 [ 1.77985991e-06  1.18093033e-04 -4.40312327e-05 -1.10587315e-04
   2.37124642e-04]]

In [14]:
gamma_vcov_array

array([[ 7.7808952e+01,  6.0340251e-01,  3.7247031e+00, -6.1449921e+00,
         2.6652929e-01],
       [ 6.0340251e-01,  3.1434750e-02, -8.6460100e-03, -6.3607140e-02,
         1.3400850e-02],
       [ 3.7247031e+00, -8.6460100e-03,  1.2957049e+00, -4.5484287e-01,
        -3.7230350e-02],
       [-6.1449921e+00, -6.3607140e-02, -4.5484287e-01,  5.4747531e-01,
        -4.4006270e-02],
       [ 2.6652929e-01,  1.3400850e-02, -3.7230350e-02, -4.4006270e-02,
         2.9778010e-02]])

In [15]:
mu

array([ 5.95764264,  0.06420788, -0.14454559,  0.19182394, -0.28300003])